Checks: >
  -*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-reinterpret-cast
#WarningsAsErrors: ""
#HeaderFilterRegex: ""
FormatStyle: google
